name: Quasiqueue Image Builder

on:
  push:
    branches:
      - "CHANGEME"
    paths-ignore:
      - "**/README.md"
      - "templates/**"
      - ".github/workflows/versionator.yml"
  schedule:
    - cron: "4 0 * * WED"
  workflow_dispatch:

jobs:
  Quasiqueue-Builder:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_versions: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        package_versions: ["0.3.1", "0.4.0", "0.4.1", "0.4.2", "0.5.0"]
        target_base: ["full", "slim"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: "Create and push"
        uses: multi-py/action-python-image-builder@main
        with:
          package: "quasiqueue"
          package_latest_version: "0.5.0"
          maintainer: "Robert Hafner <tedivm@tedivm.com>"
          python_version: ${{ matrix.python_versions }}
          target_base: ${{ matrix.target_base }}
          package_version: ${{ matrix.package_versions }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          platform: "linux/amd64,linux/arm64"

          # Uncomment to use local docker files instead of action ones.
          #dockerfile: "${{ github.workspace }}/dockerfile"
          #docker_build_path: "${{ github.workspace }}/"
